# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django stuff
db.sqlite3
*.log

# Environment variables
.env

# Static / media (ikiwa unazitengeneza locally)
media/
staticfiles/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db